<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auditor"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Use this permission to let music playback continue when the user's device becomes idle. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AudioRecordActivity"
            android:label="@string/title_activity_audio_record"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".AudioFileListActivity"
            android:label="@string/title_activity_audio_file"
            android:launchMode="singleTop"
            android:parentActivityName=".AudioRecordActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".song.MusicService" />

        <activity
            android:name=".ScoreFileListActivity"
            android:label="@string/title_activity_score_file_list"
            android:parentActivityName=".AudioRecordActivity" >
        </activity>
        <activity
            android:name=".ShowScoreActivity"
            android:label="@string/title_activity_show_score" >
        </activity>
        <activity
            android:name=".SlidingTabStrip"
            android:label="@string/title_activity_swipe_tabs" >
        </activity>
        <activity
            android:name=".SlidingTabActivity"
            android:label="@string/title_activity_sliding_tab" >
        </activity>
    </application>

</manifest>
